.skeletonBreathing {
  animation: skeleton-loading 0.5s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    /* background-color: hsl(200, 20%, 93%); */
    @apply bg-grayScale-50;
  }
  100% {
    /* background-color: hsl(0, 0%, 100%); */
    @apply bg-grayScale-200;
  }
}

.skeletonGradientSmall {
  width: 100%;
  height: 100%;
  cursor: progress;
  background:
    linear-gradient(0.25turn, transparent, #b9cff5e1, transparent),
    linear-gradient(#eee, #eee),
    linear-gradient(0.25turn, transparent, #b9cff5e1, transparent) linear-gradient(#eee, #eee);
  background-repeat: repeat;
  background-size:
    100% 100%,
    100% 100%,
    50% 50%,
    50% 0;
  background-position:
    -50px 0,
    0 0,
    0px 190px,
    50px 195px;
  animation: loadingSmall 1s infinite infinite;
}

@keyframes loadingSmall {
  to {
    background-position:
      50px 0,
      0 0,
      0 190px,
      50px 195px;
  }
}

.skeletonGradientLarge {
  width: 100%;
  height: 100%;
  cursor: progress;
  background:
    linear-gradient(0.25turn, transparent, #fafafae1, transparent),
    linear-gradient(#cbcbcb79, #cbcbcb79),
    radial-gradient(0px circle at 0px 0px, #cbcbcb79 50%, transparent 51%),
    linear-gradient(#cbcbcb79, #cbcbcb79);
  background-repeat: no-repeat;
  background-size:
    100% 100%,
    100% 100%,
    50% 50%,
    50% 0;
  background-position:
    -315px 0,
    0 0,
    0px 190px,
    50px 195px;
  animation: loadingLarge 1s infinite alternate;
}

@keyframes loadingLarge {
  to {
    background-position:
      315px 0,
      0 0,
      0 190px,
      50px 195px;
  }
}
